{% extends "layout.html" %}

{% block body %}

<h5>Vahvistetut tulevat työvuorot</h5><br>
{% if assignments is defined and assignments %}
<table>
  <tr>
    <th>Tapahtuma</th>
    <th>Työtehtävä</th>
  </tr>
  {% for assignment in assignments %}
  <tr>
    <td>
      <a href="{{url_for('event_details_user', event_id=assignment.event_id)}}">
      {{assignment.event_type}} {{ assignment.event_date.strftime("%d.%m.%Y")}}</a>
    </td>
    <td>
      {{assignment.role}} klo {{ assignment.start[:5] }} - {{ assignment.end[:5] }}
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Sinulla ei ole tällä hetkellä yhtään vahvistettua tulevaa työvuoroa.
{% endif %}

{% endblock %}
