{% extends "layout.html" %}

{% block body %}

{% if current_user.is_authenticated and current_user.role_ok("admin")  %}
<h4>Ajankohtaista</h4><br>
{% if needs_staff is defined and needs_staff %}
<p>
  <strong>Seuraaviin kuukauden sisällä toteutuviin tapahtumiin tarvitaan lisää työntekijöitä:</strong>
</p>

<ul>
  {% for event in needs_staff %}
  <li>
    <a href="{{ url_for('event_details', event_id=event.id) }}">{{ event.type }} {{ event.date.strftime("%d.%m.%Y") }}</a>
    {% if not event.assignments %}
    - tapahtumaan ei ole lisätty yhtään työtehtävää
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Tällä hetkellä järjestelmässä ei ole yhtään kuukauden sisällä toteutuvaa tapahtumaa, joilta puuttuu henkilökuntaa.</p>
{% endif %}

<br><br>
{% if has_registrations is defined and has_registrations %}
<p>
  <strong>Seuraaviin tuleviin tapahtumiin on vahvistamattomia ilmoittautumisia:</strong>
</p>

<ul>
  {% for event in has_registrations %}
  <li>
    <a href="{{ url_for('event_details', event_id=event.event_id) }}">{{ event.event_type }} {{ event.event_date.strftime("%d.%m.%Y") }}</a>
    / {{ event.registrations }} vahvistamatonta ilmoittautumista
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Tällä hetkellä järjestelmässä ei ole yhtään vahvistamatonta ilmoittautumista.</p>
{% endif %}

{% elif current_user.is_authenticated and current_user.role_ok("user") %}
<h4>Ajankohtaista</h4><br>

{% if needs_staff is defined and needs_staff and has_assignments %}
<p>
  <strong>Seuraavissa kuukauden sisään toteutuvissa tapahtumissa on vapaita työvuoroja:</strong>
</p>
<ul>
  {% for event in needs_staff %}
  {% if event.assignments %}
  <li>
    <a href="{{ url_for('event_details_user', event_id=event.id) }}">{{ event.type }} {{ event.date.strftime("%d.%m.%Y") }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% else %}
<p>Tällä hetkellä järjestelmässä ei ole yhtään kuukauden sisällä toteutuvaa tapahtumaa, joilta puuttuu henkilökuntaa.</p>
{% endif %}

<p>
  <strong>Seuraavat vahvistetut työvuorot (näytetään maksimissaan 5 vuoroa):</strong><br>
</p>

{% if next_five_shifts is defined and next_five_shifts %}

<table class="table" style="width:auto;">
  <tr>
    <th>Pvm</b>
    <th>Tapahtuma</th>
    <th>Työtehtävä</th>
  </tr>
  {% for shift in next_five_shifts %}
  <tr>
    <td>
      {{ shift.event_date.strftime("%d.%m.%Y")}}
    </td>
    <td>
      <a href="{{url_for('event_details_user', event_id=shift.event_id)}}">
      {{shift.event_type}}</a>
    </td>
    <td>
      {{shift.role}} klo {{ shift.start[:5] }} - {{ shift.end[:5] }}
    </td>
  </tr>
  {% endfor %}
</table>
</ul>
{% else %}
Sinulla ei tällä hetkellä ole yhtään vahvistettua työvuoroa.
{% endif %}

{% else %}
<h5>Kirjaudu sisään</h5><br>

{{ error }}
{{ login_message }}

<form method="POST" action="{{ url_for('auth_login') }}">
  <table>
    <tr>
      <td>
	{{ form.username.label }}
      </td>
      <td>
	{{ form.username }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.password.label }}
      </td>
      <td>
	{{ form.password }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" value="Kirjaudu sisään"/>
      </td>
    </tr>
</form>
{% endif %}

{% endblock %}
