<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Staff It Up!</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>

      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="{{ url_for('index') }} ">Staff It Up</a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              {% if current_user.is_authenticated and current_user.role_ok("admin")  %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }} ">Ajankohtaista</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Selaa tapahtumia</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('events_index') }}">Tulevat tapahtumat</a>
                <a class="dropdown-item" href="#">Menneet tapahtumat</a>
                <a class="dropdown-item" href="{{ url_for('events_index') }}">Kaikki tapahtumat</a>
              </div>
              </li
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('events_form') }} ">Lisää uusi tapahtuma</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Hallinnoi käyttäjiä</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('list_users') }} ">Listaa käyttäjät</a>
                <a class="dropdown-item" href="{{ url_for('newUser_admin') }}">Luo uusi käyttäjä</a>
              </div>
              </li
              {% elif current_user.is_authenticated and current_user.role_ok("user") %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }} ">Ajankohtaista</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Omat työvuorot</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('confirmed_list_user', user_id=current_user.id) }}">Vahvistetut työvuorot</a>
                <a class="dropdown-item" href="{{ url_for('reg_list_user', user_id=current_user.id) }}">Vahvistamattomat ilmoittautumiset</a>
                <a class="dropdown-item" href="{{ url_for('past_list_user', user_id=current_user.id) }}">Menneet työvuorot</a>
              </div>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('events_userindex') }}">Listaa tapahtumat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user_update', user_id=current_user.id) }} ">Muokkaa omia tietoja</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth_login') }} ">Kirjaudu sisään</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('newUser_form') }} ">Luo uusi käyttäjä</a>
              </li>
              {% endif %}
            </ul>
          </div>
          <div class="form-inline mt-2 mt-md-0">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth_logout') }}">Kirjautunut nimellä {{ current_user.name }} -- Logout</a>
            {% endif %}
          </div>
        </div>
        </nav>
        <main role="main" class="container">

          {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}

	      {% block body %}

	      <p>
	        Content.
      	</p>
	      {% endblock %}
      </main>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
  </html>
