{% extends "layout.html" %}

{% block body %}

<h2>{{ event.type }} {{ event.date.strftime("%d.%m.%Y") }}</h2>

  <table>
    <tr>
      <td>Nimi / Tyyppi: </td>
      <td>{{ event.type }}</td>
    </tr>
    <tr>
      <td>Päivämäärä: </td>
      <td>{{ event.date.strftime("%d.%m.%Y") }}</td>
    </tr>
    <tr>
      <td>Pax: </td>
      <td>{{ event.pax }}</td>
    </tr>
    <tr>
      <td>Info: </td>
      <td>{{ event.info }}</td>
    </tr>
    <tr>
      <td>Täynnä: </td>
      {% if event.staffed  %}
      <td>Kyllä</td>
      {% else %}
      <td>Ei</td>
      {% endif %}
    </tr>
  </table>
  <br><br>

  <h4>Tapahtumaan liittyvät työtehtävät</h4>

  <table>
    <tr>
      <th>Rooli</th>
      <th>Alkaa</th>
      <th>Päättyy</th>
    </tr>
    {% for assignment in assignments %}
    <tr>
      <td> {{ assignment.role }} </td>
      <td>{{ assignment.starttime.strftime("%H:%M") }}</td>
      <td>{{ assignment.endtime.strftime("%H:%M") }}</td>
      <td>
        {% if assignment.check_reg_confirmed(current_user.id, assignment.id) == True %}
        Ilmoittautuminen vahvistettu
        {% elif assignment.check_reg_existence(current_user.id, assignment.id) %}
        <form method="POST" action="{{ url_for('reg_delete', assignment_id=assignment.id, event_id=event.id) }}">
	        <input type="submit" value="Poista ilmoittautuminen"/>
	      </form>
        {% else %}
        <form method="POST" action="{{ url_for('reg_create', assignment_id=assignment.id, event_id=event.id) }}">
	        <input type="submit" value="Ilmoittaudu"/>
	      </form>
        {% endif %}
      </td
    </tr>
    {% endfor %}
  </table>



{% endblock %}
