{% extends "user/layout.html" %}

{% block body %}

<h2>{{ event.type }} {{ event.date.strftime("%d.%m.%Y") }}</h2>

  <table>
    <tr>
      <td>Nimi / Tyyppi: </td>
      <td>{{ event.type }}</td>
    </tr>
    <tr>
      <td>Päivämäärä: </td>
      <td>{{ event.date.strftime("%d.%m.%Y") }}</td>
    </tr>
    <tr>
      <td>Pax: </td>
      <td>{{ event.pax }}</td>
    </tr>
    <tr>
      <td>Info: </td>
      <td>{{ event.info }}</td>
    </tr>
    <tr>
      <td>Täynnä: </td>
      {% if event.staffed  %}
      <td>Kyllä</td>
      {% else %}
      <td>Ei</td>
      {% endif %}
    </tr>
  </table>
  <br><br>

  <h4>Tapahtumaan liittyvät työtehtävät</h4>

  <table>
    <tr>
      <th>Rooli</th>
      <th>Alkaa</th>
      <th>Päättyy</th>
    </tr>
    {% for assignment in assignments %}
    <tr>
      <td> {{ assignment.role }}</a>
      </td>
      <td>{{ assignment.starttime.strftime("%H:%M") }}</td>
      <td>{{ assignment.endtime.strftime("%H:%M") }}</td>
      <td>
	      <form method="GET" action="#">
	        <input type="submit" value="Ilmoittaudu (toiminto ei vielä käytössä)"/>
	      </form>
      </td
    </tr>
    {% endfor %}
  </table>


{% endblock %}
