{% extends "layout.html" %}

{% block body %}

{% if needs_staff is defined and needs_staff %}
<p>
  Seuraavissa tulevissa tapahtumissa on vapaita työvuoroja:
</p>

<ul>
  {% for event in needs_staff %}
  {% if event.assignments %}
  <li>
    <a href="{{ url_for('event_details_user', event_id=event.id) }}">{{ event.type }} {{ event.date.strftime("%d.%m.%Y") }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% else %}

<p>Tällä hetkellä järjestelmässä ei ole yhtään tulevaa tapahtumaa, joilta puuttuu henkilökuntaa.</p>

{% endif %}

{% endblock %}
