{% extends "user/layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Tapahtuma</th>
      <th>Pvm</th>
      <th>Täynnä</th>
    </tr>
    {% for event in events %}
      {% if event.assignments %}
      <tr>
        <td>
          <a href="{{ url_for('event_details_user', event_id=event.id) }}">{{ event.type }}</a>
        </td>
        <td>{{ event.date.strftime("%d.%m.%Y") }}</td>
        <td>{{ event.staffed }}</td>
      </tr>
      {% endif %}
    {% endfor %}
  </table>

{% endblock %}
