{% extends "admin/layout.html" %}

{% block body %}
<h5>Tervetuloa!</h5>
{% if needs_staff is defined and needs_staff %}
<p>
  Seuraaviin tuleviin tapahtumiin tarvitaan lisää työntekijöitä:
</p>

<ul>
  {% for event in needs_staff %}
  <li>
    <a href="{{ url_for('event_details', event_id=event.id) }}">{{ event.type }} {{ event.date.strftime("%d.%m.%Y") }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}

<p>Tällä hetkellä järjestelmässä ei ole yhtään tulevaa tapahtumaa, joilta puuttuu henkilökuntaa.</p>

{% endif %}

{% endblock %}
