{% extends "layout.html" %}

{% block body %}
  <table class="table">
    <tr>
      <th>Tapahtuma</th>
      <th>Pvm</th>
      <th>Täynnä</th>
    </tr>
    {% for event in events %}
    <tr>
      <td>
        <a href="{{ url_for('event_details', event_id=event.id) }}">{{ event.type }}</a>
      </td>
      <td>{{ event.date.strftime("%d.%m.%Y") }}</td>
      {% if event.staffed == False %}
      <td>Ei</td>
      {% else %}
      <td>Kyllä</td>
      {% endif %}
      <td>
        <form method="GET" action="{{ url_for('registrations_list', event_id=event.id) }}">
          <input type="submit" value="Tarkastele työvuoroja ja ilmoittautumisia"/>
        </form>
      </td>
      <td>
	      <form method="POST" action="{{ url_for('events_set_staffed', event_id=event.id, page="list") }}">
          {% if event.staffed == False %}
          <input type="submit" value="Merkitse täydeksi"/>
          {% else %}
          <input type="submit" value="Avaa hakuun"/>
          {% endif %}
	      </form>
      </td>
      <td>
	      <form method="POST" action="{{ url_for('events_delete', event_id=event.id) }}" onclick="return confirm('Haluatko varmasti poistaa tapahtuman?')">
	        <input type="submit" value="Poista tapahtuma"/>
	      </form>
      </td>
    </td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}
