{% extends "admin/layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('events_create') }}" >
  <table>
    <tr>
      <td>
        {{ form.type.label }}
      </td>
      <td>
        {{ form.type }}
      </td>
      <td>
	      <ul>
	        {% for error in form.type.errors %}
	        <li>{{ error }}</li>
	        {% endfor %}
	      </ul>
	    </td>
    </tr>
    <tr>
      <td>
        {{ form.date.label }}
      </td>
      <td>
        {{ form.date }}
      </td>
      <td>
	      <ul>
	        {% for error in form.date.errors %}
	        <li>{{ error }}</li>
	        {% endfor %}
	      </ul>
	    </td>
    </tr>
    <tr>
      <td>
        {{ form.pax.label }}
      </td>
      <td>
        {{ form.pax }}
      </td>
      <td>
        <ul>
          {% for error in form.pax.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.info.label }}
      </td>
      <td>
        {{ form.info }}
      </td>
      <td>
        <ul>
          {% for error in form.info.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2">
       <input type="submit" value="Lisää uusi tapahtuma"/>
       </td>
     </tr>
  </table>
</form>
{% endblock %}
